body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(23, 41, 90);
    color: white;
}

.name {
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.info p {
    font-size: 10px;
    color: white;
    margin-top: auto;
}

.info a {
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

/* Profile Image Container */
.container {
    width: 150px;
    height: 150px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    background-color: white;
}

.main {
    margin-left: 20px;
    width: 70%;
    height: 100vh;
}

.main h2 {
    font-weight: 900;
    margin-bottom: 5px;
}