.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 42px;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 47px;
    margin-right: 26px;
  }

  @media (min-width: 640px) {
    .logo {
        height: 35px;
    }
  }

  @media (min-width: 768px) {
    .logo {
        height: 46px;
    }
  }
  
  @media (min-width: 1200px) {
    .logo {
        height: 53px;
    }
  }
  
  .nav a {
    margin-right: 28px;
    text-decoration: none;
    color: #ccc;
    font-size: 14.5px;
  }
  
  .nav a:hover {
    color: white; 
  }

  @media (min-width: 640px) {
    .nav a {
      font-size: 13px;
    }
  }

  @media (min-width: 768px) {
    .nav a {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1200px) {
    .nav a {
      font-size: 17px;
    }
  }