:root {
  font-family: 'Pretendard', 'sans-seif';
  color: #fff;
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #000;
}

button,
input,
select {
  font: inherit;
}

button {
  border: none;
}

a {
  color: inherit;
}